<!DOCTYPE html>
<html>
<head>
    <title>Products List</title>
</head>
<body>
<h1>Products</h1>
<form action="/products" method="POST">
    <input type="number" name="userPrice" placeholder="Filtr price by...">
    <select name="typeOfSortUser">
        <option value="">Sort by...</option>
        <option value="Cena rosnąco">Cena rosnąco</option>
        <option value="Cena malejąco">Cena malejąco</option>
    </select>
    <input type="hidden" name="action" value="filtr">
    <button type="submit">Apply</button>
</form>
<ul>
    <% if(products.length > 0){ %>
        <% products.forEach(function(product) { %>
            <li> Nazwa:  <%= product.name %> Cena:  <%= product.cena %> 
            <form action="/products" method="POST">
                <input type="hidden" name="nazwa" value="<%= product.name %>">
                <input type="hidden" name="cena" value="<%= product.cena %>">
                <input type="hidden" name="action" value="add">
                <button type="submit">Dodaj</button>
            </form>
            
            
            <% }); %>
            <form action="/products" method="POST">
                <input type="hidden" name="action" value="end">
                <button type="submit">Koszyk</button>
            </form>
    <% } else { %>
        <li>Brak Produktow do wyświetlenia.</li>
    <% } %>
</ul>
</body>
</html>